h1.primero{
    color:darkred;
}
body{
background-color: antiquewhite;
}
h2{
    color: cadetblue;
    background-color:burlywood;
}
.hola{
    background-color: burlywood;
}
#Subtitulo{
    color: brown;
}