h1.TITULO{
    text-align: center;
    color: blue;

}
h2.SUBTITULO{
    text-align: center;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

fieldset{
    background-color: lavender;
    border-color: lavender;
}
a.link1:hover{
    background-color: blue;
}
a.link2:hover{
    background-color: red;
}
a.link3:hover{
    background-color: greenyellow;
}
a.link1{
    background-color: lavender;
    border-color: lavender;
}
a.link2{
    background-color: lavender;
    border-color: lavender;
}
a.link3{
    background-color: lavender;
    border-color: lavender;
}
u.verde{
 color: greenyellow;
}
u.rojo{
    color: red;
    font-weight: 600;
   }
b.rojo{
    color: red;
   }
   u.borde{

   }
   b.grande{
    font-size: xx-large;
   }
   b.azul{
    color: yellow;
   }
   th.rojo{
    color: red;
   }